{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script defer src={% static "core/login.js"%}></script>
</head>
<body>
    <div>
        <form id="login_form" action="">
            <label for="username">username</label>
            <input type="text" name="username" id="username">

            <label for="password">password</label>
            <input type="text" name="password" id="password">
            <button>Accedi</button>
        </form>

</body>
</html>